<h1>Hello World from index!!!!</h1>


<a href="/demo/index">Index Page<a/>

<br />

<%= link_to("Hello Page Two", {:action => 'hello'}) %><br />


<%= link_to("Hello with parameters", {action: 'hello', page: 5, id: 20}) %><br />
